.navbar {
    padding: 0 !important;
}
.navbar>.container {
    display: block !important;
}
.nav_wrapper {
    display: flex;
    justify-content: space-between !important;
}
.nav_wrapper .navMenu {
    display: flex;
    justify-content: space-between;
}
.nav_wrapper .navMenu .profile_img img {
    width: 40px;
}
.nav_wrapper .navMenu .profile_img {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    align-items: center;
}
.nav_wrapper .navMenu .profile_img .bookAppointment {
    background-color: var(--color-blue1);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: var(--borderRadius);
}
.logo {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
}
.logoImg {
    background-color: var(--color-blue1);
    width: 100%;
    border-radius: 50%;
}
.logoImg img {
    width: 50px;
    padding: 5px;
}



/* resposeve media queries */
@media (max-width: 1199px) {
    .nav_wrapper .navMenu .menu, .nav_wrapper .navMenu .profile_img {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    .nav_wrapper .navMenu .menu,
    .nav_wrapper .navMenu .profile_img {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
        align-items: center;
        text-align: center;
        font-size: 18px;
    }
    .nav_wrapper .navMenu .profile_img img {
        width: 100%;
    }
}